body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(7, 54, 7);
  /* background-image: url(/images/ImageGenerator.svg); */
  background-position: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 70%;
  background-color: white;
  min-height: 80vh;
}

header {
  background-color: black;
  color: white;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#intro {
  width: 70%;
}
.compass-wrapper {
  width: 12rem;
  height: 12rem;
  background-image: url(/images/compass-final.png);
  background-position: center;
  background-size: 10rem;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 33%;
  grid-template-rows: 33%;

  background-color: chartreuse;
  display: none;
}

.north {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  background-color: rebeccapurple;
}

.east {
  background-color: aqua;
  grid-row: 2 / span 8;
  grid-column: 11 / span 1;
}

.south {
  background-color: rgb(255, 225, 0);
  grid-row: 11 / span 1;
  grid-column: 1 / span 12;
  height: 20px;
}

.west {
  background-color: rgb(255, 0, 0);
  grid-row: 2 / span 9;
  grid-column: 0 / span 1;
}

#demo {
  background-color: aqua;
}

#gamestuff {
  background-color: #cccccc;
  width: 100%;
}

#playermoves {
  display: flex;
  flex-direction: column-reverse;
}

#playermoves :last-child {
  color: green;
  font-weight: bold;
}

button {
  padding: 5px;
}

input {
  width: 20rem;
  height: 1.3rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#death {
  width: 100%;
  background-color: black;
}

.deathstyles {
  height: 100vh;
  display: flex;
  justify-content: center;

  opacity: 1;
  color: red;
  font-size: 7em;
  animation: fade-in 10s, text 3s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    font-size: 3rem;
  }

  100% {
    font-size: 7rem;
  }
}
